<%= form_with(model: @word, url: words_path, local: true) do |form| %>
  <div class="form-container">
    <div class="field">
      <%= form.label :word, '単語' %>
      <%= form.text_field :word, class: 'input-field' %>
    </div>

    <div class="field">
      <%= form.label :definition, '定義' %>
      <%= form.text_area :definition, class: 'input-field' %>
    </div>

    <div class="actions">
      <%= form.submit '追加する', class: 'submit-button' %>
    </div>
  </div>
<% end %>
